.plan-details li {
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    list-style-type: none;
}

.homepage.slider-page .header {
  min-height: 80vh;
}

.slider {
  height: calc(65vh);
}

.slider-container {
  height: calc(65vh);
}

.sidebar li.menu-module {
  border-bottom: none;
  margin-left: 12px;
}

.sidebar li.is-active {
  font-weight: bold;
}


.footer-logos-apoyo .logos-container {
  background: white;
  padding: 2rem;
  text-align: center;
}

.footer-logos-apoyo {
  background: white!important;
}

.footer-logos-apoyo .logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-logos-apoyo .logo-box {
  flex: 1 1 50%;
  padding: 1rem;
  box-sizing: border-box;
}

.footer-logos-apoyo .logo-img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 720px) {
  .footer-logos-apoyo .logo-box {
    flex: 1 1 100%;
  }
}

/* Enlaces top-level del course-menu */
ul.course-menu > li.menu-topic > a{
  display:inline-flex;
  align-items:center;
  gap:.5rem;
  text-decoration:none; /* opcional */
  color: #383549;
}

/* Chevron a la derecha con ::before */
ul.course-menu > li.menu-topic > a::before{
  content:"";
  width:.55em; 
  height:.55em;
  border-right:2px solid currentColor;
  border-top:2px solid currentColor;
  transform:rotate(45deg);
  transition:transform .2s;
}

/* Animación */
ul.course-menu > li.menu-topic > a:hover::before{
  transform:translateX(2px) rotate(45deg);
}

/* (Opcional) Solo si el li tiene submenú — requiere :has() */
ul.course-menu > li.menu-topic:not(:has(> ul)) > a::before{ content:none; }
